<%= link_to product_path(product.id) do %>
	<h4>
	  <%= number_to_currency(product.formatted_price) %>
	  <%= product.name %>
	</h4>
<% end %>

<!-- keeps the description to 100 characters or less -->

<p><%= truncate(product.description, length: 100) %></p>