<h4>Reviews for <%= @product.name %></h4>

	<% if review.id.present? %>
	<div class= 'review'>

		<p class="comment">
			<%= review.comment %>
		</p>

		<div class="poster">
			<% if review.user != nil %>
			<em> Posted by <%= review.user.name %> on: <%= review.created_at %></em>
			<% end %>
		</div>
	</div>
	<% end %>